body {
  margin: 0;
  padding: 0;
  color: #4b4b4b;
  background-color: #FFF;
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
}

a img {
  border: 0;
}

img {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:8px;
  max-width: 100%;
}

a:link, a:visited, a:hover, a:active { color: #03C; }
a:hover {
  text-shadow: rgba(0, 0, 0, .3) 0 1px 1px;
}

.hidden {
  position: fixed;
  top: -900px;
  left: -900px;
}

#consecutiveInsert {
  display: none;
}

/* ------------------------------ Page ------------------------------ */
#contents {
  display: table;
  width: 100%;
  background-color: #FFF;
}

/* ------------------------------ Envelope ------------------------------ */
.envelope {
  display: table-row;
  width: 100%;
}

/* ------------------------------ Message ------------------------------ */
.envelope .message {
  width: 100%;
}

.envelope .message .meta, .envelope .message .content {
  display: table-cell;
  margin-bottom: 0px;
  padding: 4px 0 4px 4px;
  line-height: 1.4em;  
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-nbsp-mode: space;
}

.envelope .message .meta {
  min-width: 125px;
  border-right: 1px solid #B3B3B3;
  text-align: right;
  background-color: #EFEFEF;
}

.envelope .message .meta .time {
  position: fixed;
  top: -900px;
  left: -900px;
}

strong { display: none; } /* TEMP */

.envelope .message .meta .sender {
  position: fixed;
  top: -900px;
  left: -900px;
}

.envelope .message:first-of-type .meta .sender {
  position: static;
  padding-right: 10px;
}

.envelope .message .meta .sender a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
}

.envelope .message .content {
  width: 100%;
  border-bottom: #EFEFEF 1px solid;
}

/* ------------------------------ Incoming ------------------------------ */
.envelope .message.incoming {
}

/* ------------------------------ Highlighted ------------------------------ */
.envelope .message.highlight .content {
  background-color: #FFC;
}

.envelope .message.highlight .content .highlight {
  font-weight: bold;
}

/* ------------------------------ Outgoing ------------------------------ */
.envelope .message.outgoing {
}

/* ------------------------------ Member Link ------------------------------ */
.member {
  text-decoration: none !important;
  color: inherit !important;
}

.member:hover {
  text-decoration: underline;
}

/* ------------------------------ Event ------------------------------ */
.event {
  display: block;
  padding: 5px 0;
  border-top: #FFF 1px solid;
  background-color: #d9e7fb;
  border-bottom: #FFF 1px solid;
  color: #363636;
  font-size:0.75em;
  text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
  overflow: hidden;
}

.event + .event {
  border-top: none;
}

.event .time {
  display: block;
  float: left;
  margin: 0 6px 0 0;
  padding: 0;
  width: 120px;
  color: #999;
  text-align: right;
}

.event .content {
  float: left;
  margin: 0;
  padding-left: 5px;
  color: #303030;
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-nbsp-mode: space;
}

.event .content .reason {
  color: #999;
}

.event a {
  color: #404040;
}

/* ------------------------------ Error ------------------------------ */
.error {
  color: #333;
}

.error:before {
  content: "(";
}

.error:after {
  content: ")";
}

